[Desktop Entry]
Type=Application
Terminal=true
Name=Pinpoint
TryExec=pinpoint
Exec=pinpoint
Icon=org.gnome.Pinpoint
Categories=ConsoleOnly;Presentation;Office;

